<h1>Тести доступні на сайті</h1>
	<ol>
		<% @tests.each do |test| %>
			<li>			
	        	<%= link_to test.name, new_result_test_path(:test_id=>test.id) %>			
	    	</li>
		<% end %>
	</ol>



      
